[submodule "contrib/!usr/zv/extensions/org"]
	path = contrib/!usr/zv/extensions/org
	url = git://orgmode.org/org-mode.git
[submodule "layers/zv/extensions/z3-mode"]
	path = layers/zv/extensions/z3-mode
	url = git://github.com/zv/z3-mode.git
